<div class="container">
    <h1 class="lead">Thank you for helping to improve the Board Game Questions Community</h1>

    

   

      <form>
          <!-- keep these notes for lc.newDog.dog info when entering questions into DB -->
        <!-- <label for="game_name" aria-placeholder="Game Name">Enter Name of Game</label>
        <input type="text" placeholder ="Game Name" ng-model="lc.newDog.dog_name">
 
        <label for="breed" aria-placeholder="Breed">Breed</label>
        <input type="text" placeholder ="Breed" ng-model="lc.newDog.breed">
 
        <button class="btn btn-default" ng-click="lc.addDog(lc.newDog)">Submit New Dog</button>   -->
    
        
        <div class="form-group">
              <label for="exampleInputEmail1">Enter Name of Game</label>
              <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Name of Your Board Game">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Type or Say Question</label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Question">
            </div>
            <div class="form-group">
              <label for="exampleInputFile">File input</label>
              <input type="file" id="exampleInputFile">
              <p class="help-block">Example block-level help text here.</p>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox"> Check me out
              </label>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>

  </div>