<div class="container">
    <h4>Thank you for helping to improve the Board Game Questions Community</h1>

      <form>
          <!-- keep these notes for lc.newDog.dog info when entering questions into DB -->
        <!-- <label for="game_name" aria-placeholder="Game Name">Enter Name of Game</label>
        <input type="text" placeholder ="Game Name" ng-model="lc.newDog.dog_name">
 
        <label for="breed" aria-placeholder="Breed">Breed</label>
        <input type="text" placeholder ="Breed" ng-model="lc.newDog.breed">
 
        <button class="btn btn-default" ng-click="lc.addDog(lc.newDog)">Submit New Dog</button>  -->
    
        
        <div class="form-group">
              <!-- <label for="gamename">Enter Name of Game</label>
              <input type="text" class="form-control" id="addQuestion" placeholder="Name of Board Game" ng-model="lc.addQuestion> -->

              <label for="gamename">Enter Name of Game</label>
              <input type="text" class="form-control" id="addQuestion" placeholder="Name of Board Game">
            </div>
            <div class="form-group">
              <label for="New Question">What is the question?</label>
              <input type="text" class="form-control" id="newQuestion" placeholder="New Question">
            </div>
            <div class="form-group">
              <label for="Answer">What is the answer?</label>
              <input type="text" class="form-control" id="answer" placeholder="Answer">
            </div>

            <h5>Would you like to add any additional information?</h1>

            <div class="form-group">
              <label for="PDF File">Add PDF</label>
              <input type="text" class="form-control" id="pdf" placeholder="Paste PDF Link">
            </div>
            <div class="form-group">
              <label for="Video File">Add Video</label>
              <input type="text" class="form-control" id="pdf" placeholder="Paste Video Link">
            </div>

            <button type="submit" class="btn btn-default" ng-click="lc.addQuestion(lc.newQuestion)">Submit</button>
          </form>

  </div>