<div class="container">
        <h1 class="lead">Your question was...</h1>
        <!-- this will be a repeat of the question the person either said or spoke.  Need to determine how it will stored in the database -->
        <!-- If spoken, how does the database translate it into data?  Newbie question? -->
        <h1 class="lead">The answer is...</h1>
        <h1 class="lead">Additional Resources</h1>
       
        <!-- <h1 class="lead alert alert-danger" role="alert" ng-if="vm.message != ''">{{vm.message}}</h2> -->
        <!-- leave code above for future reference -->

        </div>      