<div class="container">
        <h1 class="lead">Your question was...</h1>
        <!-- this will be a repeat of the question the person either said or spoke.  Need to determine how it will stored in the database -->
        <!-- If spoken, how does the database translate it into data?  Newbie question? -->
        <h1 class="lead">The answer is...</h1>
          <P>contributed by NAME  on DATE</P>
       <!-- find resource for count of thumbs up or down on specific answer.  How is it stored in the database -->
        <h1 class="lead">Additional Resources</h1>
       
        <!-- <h1 class="lead alert alert-danger" role="alert" ng-if="vm.message != ''">{{vm.message}}</h2> -->
        <!-- leave code above for future reference -->

        </div>   
        
<div class="container">
  <button type="button" class="btn btn-success" ng-href="templates/askQuestion">This answer was CORRECT.</button>
  <br>
  <br>
  <button type="button" class="btn btn-danger">This answer was WRONG.</button>
  <br>
  <br>
  <button type="button" class="btn btn-secondary">This was not the question I asked.</button>
</div>        