<div class="container">
    <h1 class="lead">Have a question?</h1>
    <p>Ask the Board Game Questions Community and find your answer.</p>
    <p>Ask questions like, "In Catan, can I use a card purchased this turn?"</p>

    <!-- When someone asks a question, we don't necessarily ask them to log in, but we want to save the question.  Do we really need them to log in? -->
      <!-- <h1 class="lead alert alert-danger" role="alert" ng-if="vm.message != ''">{{vm.message}}</h2> -->
      <!-- leave code above for future reference -->

      <!-- The following are all simply examples of some forms I might use later on -->
      <form>
            <div class="form-group">
              <label for="exampleInputEmail1">Enter Name of Game</label>
              <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Name of Your Board Game">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Type or Say Question</label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Question">
            </div>
            <div class="form-group">
              <label for="exampleInputFile">File input</label>
              <input type="file" id="exampleInputFile">
              <p class="help-block">Example block-level help text here.</p>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox"> Check me out
              </label>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>

  </div>
  <!-- https://cloud.google.com/speech/docs/   speech recognition that could work, but also check Aaron's -->